<!-- [@clickedState]="clickedState" -->
<div class="ButtonSurface" [@clickedState]="clickedState" [ngClass]="{'clicked': Folder.IsClicked,'SetupPosition':IsSetupPosition&&!Folder.IsClicked}" (click)="ClickEvent()" >
    <!-- <div class="BackgroudImg"></div> -->
    <div class="ButtonBody" [ngClass]="Folder.Type" >
      <div class="price">
          <span *ngIf="Folder.PriceDalpak != undefined" class="ButtonPriceDalpak">{{Folder.PriceDalpak}}</span>
          <span *ngIf="Folder.PriceWeb != undefined" class="ButtonPriceWeb">{{Folder.PriceWeb}}</span>
      </div>

      <div class="ButtonLable" [ngClass]="{'ButtonLableFolder':Folder.Type === 'folder'}"  >
        <!-- <span *ngIf="IsSetupPosition"> {{Position}}  </span> -->
        <!-- <span *ngIf="!IsSetupPosition"> {{Text}}  </span> -->
        {{Folder.Text}} 
      </div>
  
    </div>
    
</div>