<form >
  <div class="form-row" >
    <div class="btn-group" role="group" aria-label="Basic example" style="direction: ltr">
        <button type="button" class="btn btn-info" (click)="ItemType='Pizza'" [ngClass]="{'active': ItemType=='Pizza'}" >פיצות</button>
        <button type="button" class="btn btn-info" (click)="ItemType='Drink'" [ngClass]="{'active': ItemType=='Drink'}">שתיה</button>
        <button type="button" class="btn btn-info" (click)="ItemType='Extra'" [ngClass]="{'active': ItemType=='Extra'}">מנות נוספות</button>
      </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="InputText">שם מוצר</label>
      <input name="ItemName" type="text" class="form-control" id="InputText" aria-describedby="nameHelp" placeholder="שם מוצר" [(ngModel)]="ItemName" >
      <small id="nameHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group col-md-4">
      <label for="InputColor">מחיר </label>
      <!-- value="#008000" -->
      <input name="ItemPraice" type="number" min="0" class="form-control" id="InputColor"  placeholder=" מחיר"  [(ngModel)]="ItemPraice" >
    </div>
  </div>
  <div>
      <h3>תוספות</h3>  
  </div>
  <div class="form-row">
      <div class="form-group col-md-6">
        <label for="InputText">תוספת</label>
        <input name="TosefetName" type="text" class="form-control" id="InputText" aria-describedby="nameHelp" placeholder="שם תוספת" [(ngModel)]="TosefetName" >
        <small id="nameHelp" class="form-text text-muted"></small>
      </div>
      <div class="form-group col-md-3">
        <label for="InputColor">מחיר </label>
        <!-- value="#008000" -->
        <input name="TosefetPraice" type="number" min="0" class="form-control" id="InputColor"  placeholder=" מחיר"  [(ngModel)]="TosefetPraice" >
      </div>

      <div class="form-group col-md-3">
          <label for="InputColor" style="opacity: 0" >aa </label>
          <button  type="submit" id="InputColor" class="btn btn-success form-control" (click)="SaveNewTosefet()" >הוסף תוספת</button>
      </div>
    </div>
    <div class="tosafot">
        <div *ngFor="let tosefet of Tosafot" >
            <setup-tosefet *ngIf="tosefet.Type == 'Tosefet'"  [Tosefet]="tosefet" (Delete)="getTosefet()" >  </setup-tosefet>
        </div>
    </div>


  <button *ngIf="!IdNumber" type="submit" class="btn btn-success" (click)="SaveNewItem()" >שמור</button>
  <button *ngIf="IdNumber" type="submit" class="btn btn-success" (click)="UpdateItem()" >עדכן</button>
  <button type="submit" class="btn btn-danger" (click)="CloseMe()">בטל</button>
</form>